/*==========================Menu item============*/

@font-face {
    font-family: "ar_cenaregular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/arcena-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/arcena-webfont.woff2") format("woff2"), url("../fonts/arcena-webfont.woff") format("woff"), url("../fonts/arcena-webfont.ttf") format("truetype"), url("../fonts/arcena-webfont.svg#ar_cenaregular") format("svg");
}

.mainTitel {
    width: 110px;
    margin: 0 auto 0;
}

    .mainTitel li {
        width: 80px;
        height: 32px;
        list-style: none;
    }

        .mainTitel li img.gly {
            border: 1px solid #85e11e;
            border-radius: 50%;
            display: block;
            height: 60px;
            margin: 0 auto 5px;
            padding: 12px;
            line-height: 38px;
            width: 60px;
            font-size: 17px;
            text-align: center;
        }

        .mainTitel li img.glyd3 {
            border-radius: 50%;
            display: block;
            font-size: 25px;
            height: 30px;
            line-height: 30px;
            margin: 60px auto 5px;
            padding: 0 12px;
            text-align: center;
            width: 38px;
        }

.mainTitel2 li img.glyd2 {
    border-radius: 50%;
    display: block;
    font-size: 25px;
    height: 10px;
    line-height: 38px;
    margin: 20px auto 5px;
    padding: 0;
    text-align: center;
    width: 38px;
}

.mainTitel li a {
    text-align: center;
    font-family: 'ar_cenaregular';
    font-size: 16px;
    line-height: 20px;
    display: block;
    color: #000;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
}

.mainTitel2 {
    width: 100%;
    margin: 0 auto 0;
}

    .mainTitel2 li.arrow2 {
        width: 50px;
    }

    .mainTitel2 li {
        width: 100px;
        height: 53px;
        float: left;
        list-style: none;
    }

        .mainTitel2 li.item105 {
            width: 168px;
            margin-left: -35px;
        }

        .mainTitel2 li.item10 {
            width: 168px;
            margin-left: -70px;
        }

        .mainTitel2 li.item11 {
            width: 168px;
            margin-right: -70px;
        }

        .mainTitel2 li.item12 {
            width: 122px;
            margin-left: -20px;
        }

        .mainTitel2 li.itme106 {
            margin-left: -32px;
        }

        .mainTitel2 li img.gly {
            border: 1px solid #85e11e;
            border-radius: 50%;
            display: block;
            height: 60px;
            margin: 0 auto 5px;
            padding: 12px;
            line-height: 38px;
            width: 60px;
            font-size: 17px;
            text-align: center;
        }

        .mainTitel2 li span.glyd {
            border-radius: 50%;
            display: block;
            height: 60px;
            margin: 30px auto 5px;
            padding: 12px;
            line-height: 38px;
            width: 60px;
            font-size: 17px;
            text-align: center;
        }

.mainTitel3 li {
    list-style: none;
    float: left;
    margin: 10px 48px -4px 65px;
}

    .mainTitel3 li span.glyd {
        border-radius: 50%;
        display: block;
        height: 60px;
        margin: 30px auto 5px;
        padding: 12px;
        line-height: 38px;
        width: 60px;
        font-size: 17px;
        text-align: center;
    }

.mainTitel2 li a {
    text-align: center;
    font-family: 'ar_cenaregular';
    font-size: 14px;
    line-height: 20px;
    display: block;
    color: #000;
    padding: 2px 0;
    font-weight: normal;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
}


.mainTitel4 li {
    float: left;
    list-style: outside none none;
    margin: 10px 87px -4px 65px;
}




ul.sideMenu {
    display: table;
    margin: 25% auto 0;
    padding: 0;
}

    ul.sideMenu li {
        list-style: none;
        margin: 4px 0;
    }

        ul.sideMenu li a {
            display: block;
            font-size: 16px;
            line-height: 22px;
            text-decoration: none;
            font-family: ar_cenaregular;
            padding: 6px 24px 6px 5px;
            display: block;
            -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
            -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
            box-shadow: inset 0px 1px 0px 0px #ffffff;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
            background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
            background-color: #f9f9f9;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            border: 1px solid #dcdcdc;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            color: #666666;
            text-decoration: none;
            text-shadow: 0px 1px 0px #ffffff;
        }

            ul.sideMenu li a:hover {
                text-decoration: none;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
                background: -moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background: -webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background: -o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background: -ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
                background-color: #e9e9e9;
            }

        ul.sideMenu li span {
            display: block;
            font-size: 16px;
            line-height: 22px;
            text-decoration: none;
            font-family: ar_cenaregular;
            padding: 6px 24px 6px 5px;
        }

.relatedItems {
    margin-top:5px;
}

    .relatedItems h3 {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #fbfbfb 49%, #d2d2d2 98%, #cce0f2 100%) repeat scroll 0 0;
        border-color: -moz-use-text-color #c8def1 #c8def1;
        border-image: none;
        border-radius: 5px;
        border-style: none solid solid;
        border-width: 0 2px 2px;
        color: #666666;
        display: block;
        font-family: ar_cenaregular;
        font-size: 16px;
        line-height: 22px;
        margin: 0 122px 0 auto;
        padding: 6px 24px;
        text-align: center;
        text-decoration: none;
        width: 84%;
    }


    .relatedItems ul {
        width: 93%;
        margin: 0 auto 0;
        display: table;
    }

        .relatedItems ul > li {
            margin: 0;
            list-style: none;
            width: 135px;
          
            margin: 3px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;



        }
         .relatedItems ul > li:hover {
            margin: 0;
            list-style: none;
            width: 265px;
            border: 1px #3399FF solid;
            margin: 3px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background:#F0FEE6;
            
        }
        .relatedItems ul li a {
            font-family: ar_cenaregular;
            font-size: 16px;
            color: #666;
        }

            .relatedItems ul li a span {
                margin-right: 5px;
            }

            .relatedItems ul li a:hover {
                text-decoration: none;
                color:#3399FF!important;
            }

.menuWrp {
    min-height: 400px;
}







/*===================================== Menu ===================================*/

.menuTop {
    margin: 10px 0 0;
}

/*=============================================== menuMid ======================================*/
.menuMid {
    margin: 0px 0 50px;
}

    .menuMid ul li {
        list-style: none;
        text-align: center;
        float: left;
    }



.menu2 {
    width: 56%;
    margin: 0 auto 35px;
}

.menu3 {
    width: 65%;
    margin: 0px auto 0px;
}

    .menu3 li img.glyd3 {
        border-radius: 50%;
        display: block;
        height: 30px;
        margin: 0px auto 5px;
        padding: 0 12px;
        line-height: 30px;
        width: 38px;
        font-size: 25px;
        text-align: center;
    }
/*===================================================Bottom======================================*/
.menuButtom {
    margin: 30px;
}

    .menuButtom ul li {
        list-style: none;
        text-align: center;
    }

        .menuButtom ul li a {
            font-size: 30px;
            color: #333;
            float: left;
            text-decoration: none;
            padding: 0px 112px;
        }
/*=============================== menuButtom2 ====================================================*/
.menuButtom2 {
    margin: 30px;
}

    .menuButtom2 ul li {
        list-style: none;
        text-align: center;
    }

        .menuButtom2 ul li a {
            font-size: 30px;
            color: #333;
            float: left;
            text-decoration: none;
            padding: 20px 52px;
            line-height: 30px;
        }

.menu4 {
    margin: 20px auto 50px;
}


.nRbt input[type="checkbox"], .nRbt input[type="radio"] {
    display: block;
    width: 85px;
    height: 90px;
    border: 1px solid #85e11e;
    border-radius: 50%;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
}

.menu10 {
    height: 340px;
    margin-top: 40px;
    /*margin-left: 70px;*/
}

table.menuTb {
    margin: 30px auto;
    width: 90%;
}

    table.menuTb tr td {
        text-align: center;
    }

.mainTitelA {
    width: 125px;
    word-wrap: break-word;
    border-radius: 6px;
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    padding: 2px 0;
    text-align: center;
    line-height: 42px;
    border: 1px solid #C8DEF1;
    border-top: 1px solid #e3e3e3;
}

table.menuTb tr td {
    padding: 0;
    font-family: Calibri;
}

.mfgacc {
    padding-left: 50px !important;
}

    .mfgacc ul li span {
        font-family: Calibri;
    }

    .mfgacc ul li a {
        font-family: 'ar_cenaregular';
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fbfbfb+49,d2d2d2+98,cce0f2+100 */
        background: #ffffff; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2QyZDJkMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2UwZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 49%, #d2d2d2 98%, #cce0f2 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%,#fbfbfb), color-stop(98%,#d2d2d2), color-stop(100%,#cce0f2)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffffff 0%,#fbfbfb 49%,#d2d2d2 98%,#cce0f2 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffffff 0%,#fbfbfb 49%,#d2d2d2 98%,#cce0f2 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffffff 0%,#fbfbfb 49%,#d2d2d2 98%,#cce0f2 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ffffff 0%,#fbfbfb 49%,#d2d2d2 98%,#cce0f2 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cce0f2',GradientType=0 ); /* IE6-8 */
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        /*background: #f9f9f9 linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%) repeat scroll 0 0;
        border: 1px solid #dcdcdc;
        border-radius: 6px;
        box-shadow: 0 1px 0 0 #ffffff inset;*/
        color: #000;
        cursor: pointer;
        display: block;
        font-size: 14px;
        line-height: 18px;
        padding: 6px 0 6px 5px;
        text-align: left;
        text-decoration: none;
        text-shadow: 0 1px 0 #ffffff;
        width: 160px;
    }

table.menuTb tr td img.arrowUp {
    width: 18px;
    height: 40px;
    padding: 5px 0;
    float: left;
    margin-left: 30%;
}

table.menuTb tr td img.arrowleft {
    height: 18px;
}

table.menuTb tr td img.arrowRight {
    height: 18px;
}

table.menuTb tr td img.arrowDown {
    width: 18px;
    float: left;
    margin-left: 30%;
    width: 18px;
}

.menubg {
    background: #efefef;
    height: 45px;
}

.mMenu {
    font-size: 18px !important;
    line-height: 42px;
    word-wrap: break-word;
}

table.menuTb tr td img.iconImg {
    float: right;
    margin-right: 2px;
    width: 40px;
    height: 35px;
}

table.menuTb tr td .arrowDown {
    padding: 5px 0;
    height: 40px;
}

table.menuTb tr td img.mIconImg {
    float: right;
    margin-right: 2px;
    width: 40px;
    height: 45px;
}

.mainTitelA a {
    border-radius: 6px;
    color: #000;
    word-wrap: break-word;
}

.mainTitelB {
    line-height: 16px !important;
    padding: 3px 0 !important;
}

    .mainTitelB a {
        margin: 10px 0 0;
    }





.intrmMenu {
    width: 155px;
    height: 40px;
    float: left;
}

    .intrmMenu a {
        color: #000;
    }

.intrmChMenu {
    width: 100%;
    height: 32px;
    border: 1px #C8DEF1 solid;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #fbfbfb 49%, #d2d2d2 98%, #cce0f2 100%) repeat scroll 0 0;
}

.interImgM {
    width: 35px;
    height: 38px;
    /*background:#e9e9e9;*/
    /*background: #fff;*/
    padding: 0 0px;
    text-align: center;
    vertical-align: middle;
    border-right: 0;
    float: left;
    line-height: 10px;
}

    .interImgM img {
        margin-top: 6px;
        border: 1px #a1eaea solid;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 2px;
        height: 26px !important;
        width: 28px !important;
    }

.intermChMenub {
    /*background-image: url(../Image/bg_graphMenu.png);*/
    background-repeat: no-repeat;
    /*background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #fbfbfb 49%, #d2d2d2 98%, #cce0f2 100%) repeat scroll 0 0;*/
    float: right;
    font-family: "ar_cenaregular";
    font-size: 14px;
    font-weight: normal;
    line-height: 29px;
    text-align: left;
    vertical-align: middle;
    width: 115px;
    color: #000;
    padding: 0 2px;
    word-wrap: break-word;
    /*width: 115px;
    float: right;
    background: #fff;
    font-size: 17px;
    text-align: center;
    font-family: 'ar_cenaregular';
    line-height: 38px;
    vertical-align: middle;
    word-wrap: break-word;
    font-weight: normal;*/
}



.dirrWrp {
    width: 38px;
    height: 40px;
    text-align: center;
    float: left;
}

.dirrWrpLR {
    padding: 7px 0;
}

.dirrWrpUD {
    text-align: center;
    padding: 5px 0;
    margin-left: 0px;
}

.sendline {
    line-height: 19px;
}

.BgColor2 {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #fbfbfb 49%, #d2d2d2 98%, #cce0f2 100%) repeat scroll 0 0;
    border: 1px solid #699f44;
    box-shadow: 0 0 4px 2px #bec9b6 inset;
    font-size: 14px;
}

.fncolor {
    color: green;
    font-size: 13px;
    line-height: 29px;
    font-weight: normal;
}

.lgMenu {
    background: #f0fee6 none repeat scroll 0 0 !important;
    border: 1px solid #699f44;
    font-size: 18px;
    box-shadow: 0 0 4px 2px #bec9b6 inset;
}

.mdMenu {
    font-size: 18px;
}


.mfgacc2 {
    padding-left: 50px !important;
}

    .mfgacc2 ul li span {
        font-family: Calibri;
    }

    .mfgacc2 ul li a {
        background: #f0fee6 none repeat scroll 0 0;
        border: 1px solid #7ab652;
        box-shadow: 0 0 10px 1px #a6b09f inset;
        font-family: "ar_cenaregular";
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        width:140px;
    }

a.nonBg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none !important;
    box-shadow: none !important;
    margin: 0 auto !important;
    padding: 0 !important;
    text-align: center !important;
}

    a.nonBg img {
        margin: 0 auto;
        display: table;
    }

.interFaceMenu {
    display: block;
    font-size: 14px;
}

.BgColor {
    background: #f0fee6 none repeat scroll 0 0 !important;
    /*border: 1px solid #699f44;*/
    font-size: 20px !important;
    box-shadow: 0 0 4px 2px #bec9b6 inset;
}

    .BgColor .intermChMenub {
        font-size: 20px !important;
    }
