@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Roboto&display=swap");
$background-color-ds: #f9fbfd;
$block-tile-color-ds: #ffffff;
$primary-text-color-ds: #727475;
$nav-text-color-ds: #2c2e31;
$border-color-ds: #707070;
$top-icon-color-ds: #0057af;
$gradient-color-active-ds: linear-gradient(
  90deg,
  rgba(30, 138, 248, 1) 0%,
  rgba(0, 75, 144, 1) 100%
);
$button-color: #c16f3e;
$primary-select-color-ds: #1e8af8;
$header-type-font: "Antic Slab", serif;
$body-type-font: "Roboto", sans-serif;
