@import "variables";
.right-part {
  a {
    padding: 0.25rem 0.5rem;
    background-color: $top-icon-color-ds;
    color: antiquewhite;
    border-radius: 5px;
  }
}
span {
  font-size: 0.8rem;
}
.card {
  hr {
    width: 100%;
  }
}

.commontext {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
  background-clip: padding-box;
  height: calc(1em + 0.45rem + 0.5px);
  width: 90%;
  padding: 0.25rem 0.35rem;
  outline: none;
}
.break-1 {
  width: 40%;
}
.break-2 {
  width: 50%;
}
.commonddl {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
  background-clip: padding-box;
  height: calc(1em + 0.45rem + 0.5px);
  width: 90%;
  outline: none;
}
.common-button-item {
  width: 8rem;
  background-color: $button-color;
  color: white;
  border-radius: 5px;
  font-size: 0.7rem;
  font-family: $header-type-font;
  padding: 0.2rem 0;
  outline: none;
  border: none;
  height: calc(1.5em + 0.75rem + 1px);
}
.common-button-item:hover {
  background-color: #aa6136;
  color: white;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  margin: 0.15rem;
  .common-checkbox {
    margin-top: 0.25rem;
    height: 0.75rem;
    width: 0.75rem;
  }
  .text-chk {
    padding: 0rem 0.25rem;
  }
}

.common-textarea {
  width: 95%;
  outline: none;
  border: 1px solid #ced4da;
  padding: 0.15rem;
}

table {
  border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

.footer {
  .common-button {
    display: block;
  }
}
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }
  .table td,
  .table th {
    padding: 0px;
    padding-left: 55%;
  }
  .footer {
    .copyright-container {
      display: none;
    }
    .exchange-module-container {
      display: none;
    }
    .common-button {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
