<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">

	<styleBundle path="~/Content/version">
		<include path="~/Content/bootstrap.min.css" />
		<include path="~/Content/font-awesome.min.css" />



	</styleBundle>

	<styleBundle path="~/Content/css">
		<include path="~/Content/bootstrap.icon-large.css" />
		<include path="~/Content/Theme/vendor/fontawesome-free/css/all.css" />
		<include path="~/Content/flaticon.css" />
		<include path="~/Content/asitCommonStyle.css" />
		<include path="~/Content/AppsStyle.css"/>
		<include path="~/Content/AsitnoneResponsive.css" />
		<include path="~/Content/screen.css" />
		<include path="~/Content/ResponsiveForm.css" />
		<include path="~/Content/chosen.css" />
		<include path="~/Content/wheelmenu.css" />
		<include path="~/Content/GridViewScrooling.css" />
		<include path="~/Content/progressbar.css" />
		<include path="~/Content/bootstrap-multiselect.css" />
		<include path="~/Content/theme.blue.css" />
		<include path="~/Content/animate.css" />
		<include path="~/Content/FullGridPager.css" />
		<include path="~/Content/bootstrap-datetimepicker.css" />

	</styleBundle>


	<styleBundle path="~/Content/cssnew">
		<include path="~/Content/Theme/vendor/fontawesome-free/css/all.css" />
		<include path="~/Content/Theme/vendor/flatpickr/flatpickr.min.css" />
		<include path="~/Content/Theme/vendor/toastr/toastr.min.css" />
		<include path="~/Content/Theme/toastr.min.css" />
		<include path="~/Content/Theme/theme.css" />
		<include path="~/Content/Theme/Custom.css" />
		<!--<include path="~/Content/Theme/theme-dark.min.css" />-->
		<include path="~/Content/jquery-ui.css" />
		<include path="~/Content/bootstrap-multiselect.css" />
		<include path="~/Content/GridViewScrooling.css" />
		<include path="~/Content/progressbar.css" />
		<include path="~/Content/chosen.css" />
		<include path="~/assets/vendor/flatpickr/flatpickr.min.css" />
		<include path="~/Content/select2.min.css" />
		 
	</styleBundle>





































</bundles>