<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RealERPWEB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!--<remove name="WebServiceHandlerFactory-Integrated" />
		<remove name="ScriptHandlerFactory" />
		<remove name="ScriptHandlerFactoryAppServices" />
		<remove name="ScriptResource" />ll
		<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" /> 
    <!--<add key="DBConnstr" value="Data Source=ASITLAPTOPP\MSSQL2K14;initial Catalog=ASITINTERIORDB;User ID=sa;Password=" />-->
    <!--<add key="DBConnstr" value="Data Source=ASITLAPTOPP\MSSQLENT2K12;initial Catalog=ASITINTERIORDB;User ID=sa;Password="/>-->
    <!--<add key="DBConnstr" value="Data Source=SHOVON-PC\MSSQL2K14;initial Catalog=ASITINTERIORDB;User ID=sa;Password=12345" />-->
    <!--<add key="DBConnstr" value="Data Source=PARBAZ-PC;initial Catalog=ASITINTERIORDB;User ID=sa;Password=asit1qaz`123"/>-->
    <!--<add key="DBConnstr" value="Data Source=RAKIB-PC\MSSQL2K14;initial Catalog=ASITINTERIORDBEP;User ID=sa;Password=1234"/>-->
    <!--<add key="DBConnstr" value="Data Source=TARIK-PC\SQL2K14;initial Catalog=ASITINTERIORDBP2P11;User ID=sa;Password=12345"/>-->
    <!--<add key="dbconnstr" value="data source=123.200.23.58\mssql2k14;initial catalog=ASITINTERIORDB; user id=sa; password=@*asit1qaz`123#" />-->
    <!--<add key="dbconnstr" value="data source=123.200.23.58\mssql2k14;initial catalog=ASITINTERIORDB; user id=sa; password=@*asit1qaz`123#" />-->
    <!--<add key="dbconnstr" value="data source=123.200.23.58\mssql2k14;initial catalog=ASITINTERIORDB; user id=sa; password=@*asit1qaz`123#" />-->
    <!--<add key="dbconnstr" value="data source=123.200.23.58\mssql2k14;initial catalog=ASITINTERIORDBCP; user id=sa; password=@*asit1qaz`123#" />-->
    <add key="dbconnstr" value="data source=123.200.23.58\mssql2k14;initial catalog=ASITINTERIORDB; user id=sa; password=@*asit1qaz`123#" />
    <!--<add key="dbconnstr" value="data source=123.200.23.58\mssql2k14;initial catalog=ASITINTERIORDB; user id=sa; password=@*asit1qaz`123#" />-->
    <!--<add key="dbconnstr" value="data source=123.200.23.58\mssql2k14;initial catalog=ASITINTERIORDBEP1127; user id=sa; password=@*asit1qaz`123#" />-->  
    <!--<add key="DBConnstr" value="Data Source=asitweb\MSSQL2K12;initial Catalog=ASITINTERIORDB;User ID=sa;Password=asit1qaz`123"/>-->
    <!--<add key="DBConnstr" value="Data Source=ASITLAPTOPP\MSSQLENT2K12;initial Catalog=ASITINTERIORDB;User ID=sa;Password="/>-->
    <!--<add key="DBConnstr" value="Data Source=ASITLAPTOPP\MSSQKEXPRESS2K14;initial Catalog=ASITINTERIORDBAC;User ID=sa;Password="/>-->
    <!--<add key="DBConnstr" value="Data Source=182.160.118.59\MSSQL2K14;initial Catalog=ASITINTERIORDB;User ID=sa;Password=peb#@321!" />-->
    <!--<add key="DBConnstr" value="Data Source=192.168.0.7\MSSQL2K14;initial Catalog=ASITINTERIORDb;User ID=sa;Password=1qaz321`" />-->
    <!--<add key="dbconnstr" value="data source=123.200.23.58\mssql2k14;initial catalog=ASITINTERIORDB; user id=sa; password=@*asit1qaz`123#" />-->
    <!--<add key="DBConnstr" value="Data Source=59.152.97.179\MSSQL2K12;initial Catalog=ASITINTERIORDB;User ID=sa;Password=asit1qaz`123" />-->   
    <!-- Edison -->
    <!--<add key="DBConnstr" value="Data Source=202.0.94.46;initial Catalog=ASITINTERIORDB;User ID=sa;Password=epl123456" />-->    
    <!--Tropical-->
    <!--<add key="DBConnstr" value="Data Source=27.147.134.44\MSSQL2K14;initial Catalog=ASITINTERIORDB;User ID=sa;Password=thl1qaz321`" />-->
    <!--Acme-->
    <!--<add key="DBConnstr" value="Data Source=103.109.238.178\SQL2K14ENT;initial Catalog=ASITINTERIORDB;User ID=sa;Password=acme1qaz321`" />-->
    <!--<add key="DBConnstr" value="Data Source=59.152.62.9\MSSQL2K14;initial Catalog=ASITINTERIORDB;User ID=sa;Password=@ssure1qaz`123#" />-->
    <!--iNTECHERP -->
    <!--<add key="DBConnstr" value="Data Source=103.83.233.190\MSSQL2K14;initial Catalog=ASITINTERIORDB;User ID=sa;Password=IntecH@#2022" />-->
    <!--JBSERP-->
    <!--<add key="DBConnstr" value="Data Source=202.0.94.56\MSSQL2K14;initial Catalog=ASITINTERIORDBCP;User ID=sa;Password=PTL@2021$#9" />--> 
    <!--CPDL-->
    <!--<add key="DBConnstr" value="Data Source=103.134.68.103\MSSQL2K14;initial Catalog=ASITINTERIORDB;User ID=sa;Password=@*CpdL`123#" />-->
    <!--Credence-->
    <!--<add key="DBConnstr" value="Data Source=203.95.222.182\MSSQL2K14;initial Catalog=ASITINTERIORDB;User ID=sa;Password=chlerp1qaz`123#"/>-->
    <!--P2P-->
    <!--<add key="DBConnstr" value="Data Source=ASITLAPTOPP\MSSQL2K14;initial Catalog=ASITINTERIORDBP2P; User ID=sa; Password=asit1qaz`123"/>-->
    <!--<add key="DBConnstr" value="Data Source=123.200.23.60\MSSQL2K14;initial Catalog=ASITINTERIORDBP; User ID=sa; Password=asit1qaz`123"/>-->
    <!--<add key="DBConnstr" value="Data Source=103.4.66.190:33890\MSSQL2K14;initial Catalog=ASITINTERIORDB; User ID=sa; Password=@*p2pptl%$#"/>-->
    <!--Manama-->
    <!--<add key="DBConnstr" value="Data Source=116.68.196.153\MSSQL2K14;initial Catalog=ASITINTERIORDB;User ID=sa;Password=manama1qaz`123!"/>-->
    <!--<add key="DBConnstr" value="Data Source=103.222.23.142\MSSQL2K14;initial Catalog=ASITINTERIORDB; User ID=sa; Password=12345"/>-->
    <!--EdisonErp-->
    <!--<add key="DBConnstr" value="Data Source=103.23.31.144;initial Catalog=ASITINTERIORDB; User ID=sa; Password=@edison321`#%$"/>-->
    <!--<add key="DBConnstr" value="Data Source=103.23.31.144;initial Catalog=ASITINTERIORDB_RND; User ID=sa; Password=@edison321`#%$"/>-->
    <!--<add key="DBConnstr" value="Data Source=103.112.52.73;initial Catalog=ASITINTERIORDB; User ID=sa; Password=lanco@`123"/>-->
    <!--Urban-->
    <!--<add key="DBConnstr" value="Data Source=203.76.103.52\MSSQL2K14;initial Catalog=ASITINTERIORDB; User ID=sa; Password=Uddl1qaz`123!!"/>-->
    <!--<add key="DBConnstr" value="Data Source=103.161.71.54\MSSQL2K14;initial Catalog=ASITINTERIORDB;User ID=sa;Password=PTL@2021$#9" />-->   
	  <!--bti-->
    <!--<add key="DBConnstr" value="Data Source=103.161.71.54\MSSQL2K14;initial Catalog=ASITINTERIORDB_RND;User ID=sa;Password=PTL@2021$#9" />-->
    <!--<add key="DBConnstr" value="Data Source=103.161.71.54\MSSQL2K14;initial Catalog=ASITINTERIORDB;User ID=sa;Password=PTL@2021$#9" />-->
    <!--Green Wood-->
    <!--<add key="DBConnstr" value="Data Source=103.108.146.237\MSSQL2K14;initial Catalog=ASITINTERIORDB; User ID=sa; Password=*@gwood1qaz321`"/>-->
    <!--Finlay -->
    <!--<add key="DBConnstr" value="Data Source=203.202.249.116\MSSQL2K14;initial Catalog=ASITINTERIORDB; User ID=sa; Password=@*pintech1qaz`123#"/>-->
    <!--<add key="DBConnstr" value="Data Source=203.202.249.116\MSSQL2K14;initial Catalog=ASITINTERIORDB; User ID=sa; Password=@*pintech1qaz`123#"/>-->
    <!--<add key="DBConnstr" value="Data Source=203.202.249.116\MSSQL2K14;initial Catalog=ASITINTERIORDB_RND; User ID=sa; Password=@*pintech1qaz`123#"/>-->
    <!--<add key="OLEDBConnstr" value="Provider =Microsoft.Jet.OLEDB.4.0; Data Source =D:\att2000.mdb; Jet OLEDB:Database Password="/>
		<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />-->
    <!--<add key="aspnet:MaxHttpCollectionKeys" value="100000"/>-->
  </appSettings>
  <location path="Image">
    <system.web>
      <!--<authorization>
        <allow users="*" />
      </authorization>-->
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <!--<location path="MyWebServicesSite" allowOverride="true">
    <system.webServer>
      <serverRuntime uploadReadAheadSize="10485760" />
    </system.webServer>
  </location>-->
  <!--<location path="ScriptResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>-->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>

    <httpRuntime targetFramework="4.8" maxRequestLength="1048576" requestPathInvalidCharacters="" executionTimeout="3600" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms" assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="Login" timeout="2880" />
    </authentication>
    <sessionState cookieless="UseDeviceProfile" mode="InProc" timeout="540" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <!--<identity impersonate="true" />-->
    <!--<httpRuntime maxRequestLength="1000000" requestLengthDiskThreshold="1000000" targetFramework="4.8" requestValidationMode="2.0" executionTimeout="3600" />-->
    <!-- For Image Upload-->
    <!-- For Error Handling-->
    <!--<customErrors  mode="On" defaultRedirect="UnderMaintain.html"/>-->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="ErrorHandling.aspx"/>-->

  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845DCD8080CC91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.0.0" newVersion="15.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <!--<businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>-->
  <system.net>
    <mailSettings>
      <smtp>
        <network defaultCredentials="false" />
      </smtp>
    </mailSettings>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HrDailyAttenSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WebReference/HRDailyAtten.asmx" binding="basicHttpBinding" bindingConfiguration="HrDailyAttenSoap" contract="HrWebService.HrDailyAttenSoap" name="HrDailyAttenSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <RealERPWEB.Properties.Settings>
      <setting name="RealERPWEB_HrWebService_HrDailyAtten" serializeAs="String">
        <value>http://localhost/WebReference/HRDailyAtten.asmx</value>
      </setting>
    </RealERPWEB.Properties.Settings>
  </applicationSettings>


</configuration>